/* nav bar css */
nav{
    width: 99%;
    height:auto;
    margin: 10 10 10 10;
    background-color: #3d4240;
    position: fixed;
    z-index: 1;
}
nav ul{
    float:left;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav li a:hover{
    color:rgb(76, 135, 115);
}

/* footer css */
footer{
    display: block;
    width: 99%;
    height: auto;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    background-color: #3d4240;
    text-align: center;
}
footer li{
    list-style: none;
    display: inline;
    padding-left: 10px;
}
footer li a{
    text-decoration: none;
    color: white;
}
footer li a:hover{
    color: aquamarine;
}

/* Div*/
.split {
    padding-top: 5%;
    height: 100%;
    width: 45%;
    position: fixed;
    z-index: 0;
}

.left {
    left: 0;
    padding-left: 20px;
    z-index: 0; 
}

.right {
    right: 0;
    padding-right: 20px;
    z-index: 0; 
}

nav .dropdown{
    display: block;
}
nav ul li ul.dropdown{
    position: absolute;
    z-index: 999;
    display: none;
}

